[Desktop Entry]
Name=NordVPN Connector
Comment=
Exec=bash -c 'cd /usr/src/nordvpn_linux && clear && sudo python3 main.py'
Icon=/usr/src/net.png
Terminal=false
Type=Application