[Desktop Entry]
Name=NordVPN Connector
Exec=sh -c 'cd /usr/src/nordvpn_linux && python3 connect.py'
Icon=/usr/src/nordvpn_linux/content/net.png
Terminal=false
Type=Application